@use "./variables";


.categoryGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    .items {
      width: 40%;
      margin: 50px 25px 25px; 
      border-radius: 10%;
      padding: 45px;
      text-align: center;
      // display: flex;
      // flex-direction: column;
      // this code makes the transform below work 

      a {
        display: block;
      }

      a:hover,
      a:focus {
        transform: scale(0.95);
      }

      img {
        border-radius: 10%;
        margin-bottom: 20px;
      }
    }

    .item1 {
      background-color: variables.$quinary;
    }

    .items2 {
      background-color: variables.$pastelBlue;
    }

    .item3 {
      background-color: variables.$tertiary;

    }

    .item4 {
      background-color: variables.$quaternary;
    }
  }

