@use "./variables" as v;

header {
  background: v.$tertiary;
  margin-bottom: 90px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .headerImgContainer {
    width: 45%; 
  }
  .headerTextContainer {
    width: 55%;
    padding: 0 90px; 
    // ^ or to achieve the same  
    // margin: 0 auto;
    // max-width: 600px;
  }
}

