@use "./variables";

.navBar {
  position: fixed;
  width: 100%; 
  top: 0;
  z-index: 10;
  border-bottom: 1px solid rbga(variables.$primary, 0.8);
  background: variables.$solidWhite;
  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }

  .cartFlex {
    display: flex;
    align-items: center;
    p {
      margin-bottom: 0;
      width: 24px;
      height: 24px;
      background-color: variables.$primary;
      color: variables.$solidWhite;
      text-align: center;
      border-radius: 50%;
      line-height: 1.1;
    }
    .menuIcon, .bagIcon {
      margin-right: 15px;
    }
  }
}


.slideOutNav {
  display: none; 
}